streamlit
joblib
tldextract
requests
ssl
whois
numpy
sklearn
scikit-learn
pandas
xgboost
scipy
matplotlib
seaborn
pillow
python-dateutil
pyarrow
pydeck
pyzmq
python-whois
pytz
pywin32
pywinpty
pydantic
pydantic_core
fastapi
fastparquet
